/*****************Sets custom fonts*****************/

@font-face {
	font-family: Alegreya_SC;
	src: url(Alegreya_SC.ttf);
}

@font-face {
	font-family: Alex_Brush;
	src: url(Alex_Brush.ttf)
}

/*****************Styles header elements*****************/

#header_h1 {
	text-align: left;
	color: #62067c;
	font-family: 'Alegreya_SC', Garamond, 'Palatino Linotype';
}

#header_h2 {
	text-align: left;
	color: #62067c;
	font-family: 'Alegreya_SC', Garamond, 'Palatino Linotype';
}

#header_h3 {
	text-align: left;
	color: #62067c;
	font-family: 'Alex_Brush';
}

header {
	background-color:#b0896c;
}

#header_text {
	font-size: 20px;
	width: 100%;
}

#header_logo {
	width: 100%;
	max-height: 300px;
	max-width: 300px;
	min-width: 100px;
}

.column {
	flex: 50%;
	padding: 5px;
}

#header_container {
	display: flex;
}

/*****************Styles Nav*****************/

.topnav {
	overflow: hidden;
	background-color: #333;
	border: #333 solid 5px;
	border-radius: 2px;
	position: sticky;
	top: 0;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #997050;
	color: white;
}

/*************Styles main content*****************/
main h1, h2, h3 {
	text-align: center;
	color: #62067c;
	font-family: 'alegreya_SC', Garamond, 'Palatino Linotype';
}

#menu div {
	margin: 0;
	padding: 0;
	font-weight: 500;
}

#chk_menu {
	margin-left: 20px;
	padding-top: 50px, 0px;
	font-weight: 500;
	text-align: left;
	background-image: url(Steak.jpg);
}

#menu_b {
	background-color: #62067c;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

/*Styles footer text*/

.footer_txt {
	color: grey;
}